NEXT_PUBLIC_SITE_URL=https://www.growtella.com
NEXT_PUBLIC_CONTACT_EMAIL=hola@growtella.com
NEXT_PUBLIC_CALCULATOR_URL=https://www.calculadoraemprendedora.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-M4WE874ZS2
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
